# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log

# Node / npm
node_modules/
npm-debug.log*

# Private keys
*.pem

# macOS
.DS_Store

# VS Code
.vscode/
launch.json
settings.json
c_cpp_properties.json
